.nav-link {
    position: relative;
}

.nav-link::after {
    content: '';
    opacity: 0;
    transition: all 0.3s;
    height: 2px;
    width: 100%;
    max-width: 200px;
    background-color: rgb(107, 107, 107);
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-link:hover::after {
    opacity: 1;
}

.nav-link.active::after {
    background-color: white;
    opacity: 1;
}

body {
    background: rgb(7, 7, 7);
}

section {
    position: relative;
}

p {
    text-align: justify;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 1.5rem;
        text-align: center;
    }

    p {
        text-align: center;
    }
}

@keyframes fade-in {
    to {
        scale: 1;
        opacity: 1;
        filter: blur(0px);
        transform: translateX(0%);
    }
}

.project-image {
    display: block;
    margin: auto;
    max-width: 800px;
    width: 100%;
    align-items: center;
    filter: brightness(0.9) hue-rotate(0deg);
    scale: 0.8;
    opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range-start: entry;
    animation-range-end: entry 120%;
    filter: blur(5px);
}

.rt-image {
    display: block;
    margin: auto;
    max-width: 800px;
    width: 100%;
    align-items: center;
    filter: brightness(0.9) hue-rotate(0deg);
    scale: 0.8;
    opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range-start: entry;
    animation-range-end: entry 120%;
    filter: blur(5px);
}

.project-video {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 900px;
    align-items: center;
    scale: 0.8;
    opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range-start: entry;
    animation-range-end: entry 250%;
    filter: blur(5px);
}

.text-fade {
    opacity: 0;
    transform: translateX(-80%);
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range-start: entry;
    animation-range-end: entry 140%;
    filter: blur(5px);
}

.header-fade {
    opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range-start: entry;
    animation-range-end: entry 300%;
    filter: blur(5px);
}

.blue {
    background: #000045;
}

.red {
    background: #cf0000;
}

.pink {
    background: #ff0066;
}

.dark {
    background: #000000;
}

.spacer {
    aspect-ratio: 960/180;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 {
    background-image: url('img/layerpinkred.svg');
}

.layer2 {
    background-image: url('img/layerredblue.svg');
}

.layer3 {
    background-image: url('img/layerblueblack.svg');
}