.nav-link {
    position: relative;
}

.nav-link::after {
    content: '';
    opacity: 0;
    transition: all 0.3s;
    height: 2px;
    width: 100%;
    max-width: 200px;
    background-color: rgb(107, 107, 107);
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-link:hover::after {
    opacity: 1;
}

.nav-link.active::after {
    background-color: white;
    opacity: 1;
}

body {
    background: rgb(7, 7, 7);
}

section {
    position: relative;
}

p {
    text-align: justify;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 1.5rem;
        text-align: center;
    }

    p {
        text-align: center;
    }
}

.project-image {
    display: block;
    margin: auto;
    max-width: 480px;
    width: 100%;
    align-items: center;
    filter: brightness(0.8) hue-rotate(45deg);
    scale: 0.8;
    opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: entry;
}

@keyframes fade-in {
    to {
        scale: 1;
        opacity: 1;
    }
}



.project-video {
    display: block;
    margin: auto;
    width: 100%;
    align-items: center;
    filter: brightness(0.8);
    scale: 0.8;
    opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: entry;
}

.blue {
    background: #000045;
}

.red {
    background: #cf0000;
}

.pink {
    background: #ff0066;
}

.dark {
    background: #000000;
}

.spacer {
    aspect-ratio: 960/180;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 {
    background-image: url('img/layerblueblack.svg');
}

.layer2 {
    background-image: url('img/layerblackred.svg');
}

.layer3 {
    background-image: url('img/layerredpink.svg');
}

.layer4 {
    background-image: url('img/layerpinkblack.svg');
}