body {
    margin: 0;
    background: rgb(7, 7, 7);
}

section {
    position: relative;
}

p {
    text-align: justify;
}

.project-image {
    display: block;
    margin: auto;
    max-width: 480px;
    width: 100%;
    align-items: center;
    filter: brightness(0.8) hue-rotate(45deg);
}

.project-video {
    display: block;
    margin: auto;
    width: 100%;
    align-items: center;
    filter: brightness(0.8);
}

.blue {
    background: rgb(0, 0, 69);
}

.red {
    background: rgb(163, 0, 0);
}

.pink {
    background: #ff0066;
}

.dark {
    background: black;
}