body {
    margin: 0;
    background: rgb(7, 7, 7);
}

section {
    position: relative;
}

.project-image {
    margin: auto;
    display: block;
    max-width: 480px;
    width: 100%
}

.project-video {
    display: block;
    margin: auto;
    width: 100%;
}

.blue {
    background: rgb(0, 0, 69);
}

.red {
    background: rgb(163, 0, 0);
}

.pink {
    background: #ff0066;
}

.dark {
    background: black;
}