.c-item {
    height: 600px;
}

.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.4) hue-rotate(240deg);
}

.div-carousel {
    background-color: black;
}

.nav-link {
    position: relative;
}

.nav-link::after {
    content: '';
    opacity: 0;
    transition: all 0.3s;
    height: 2px;
    width: 100%;
    max-width: 200px;
    background-color: rgb(107, 107, 107);
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-link:hover::after {
    opacity: 1;
}

.nav-link.active::after {
    background-color: white;
    opacity: 1;
}

body {
    background-color: rgb(0, 0, 0);
}

.project-image {
    display: block;
    margin: auto;
    max-width: 800px;
    width: 100%;
    align-items: center;
    filter: brightness(0.8) hue-rotate(45deg);
}

p {
    text-align: justify-center;
}

h3 {
    text-align: justify;
}

@media only screen and (max-width: 600px) {
    h3 {
        font-size: 1.5rem;
        text-align: center;
    }

    p {
        text-align: justify-center;
    }
}