.c-item {
    height: 600px;
}

.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.4) hue-rotate(240deg);
}

.div-carousel {
    background-color: black;
}

body {
    background-color: rgb(0, 0, 0);
}

.project-image {
    display: block;
    margin: auto;
    max-width: 800px;
    width: 100%;
    align-items: center;
    filter: brightness(0.8) hue-rotate(45deg);
}

p {
    text-align: justify;
}